<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fd8ce">  <td>20/09/14 15:25:57</td>   <td>0</td> <td title="&gt;&gt;Reports.reports()[pri:0, instance:com.tatahealth.API.libraries.Reports@61862a7f]">&gt;&gt;reports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2134607032</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:25:57</td>   <td>110</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ServiceMaster.beforeClass(java.lang.String)[pri:0, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:28:01</td>   <td>124164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_Close_Test(java.lang.String)[pri:1, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_Close_Test</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:28:29</td>   <td>152073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_List_Test1(java.lang.String)[pri:2, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_List_Test1</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:28:39</td>   <td>161720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_List_Test2(java.lang.String)[pri:3, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_List_Test2</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:28:46</td>   <td>169315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_List_Test3(java.lang.String)[pri:4, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_List_Test3</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:29:06</td>   <td>189535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_List_Test4(java.lang.String)[pri:5, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_List_Test4</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:29:22</td>   <td>205051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_List_Test5(java.lang.String)[pri:6, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_List_Test5</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:29:42</td>   <td>225537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_List_Test7(java.lang.String)[pri:7, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_List_Test7</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:30:24</td>   <td>266997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_List_Test6(java.lang.String)[pri:8, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_List_Test6</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:30:57</td>   <td>299745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.ServiceMasterTest(java.lang.String)[pri:9, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">ServiceMasterTest</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:32:17</td>   <td>379974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_Doctor1_Test(java.lang.String)[pri:10, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_Doctor1_Test</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:32:38</td>   <td>401105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_Doctor2_Test(java.lang.String)[pri:11, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_Doctor2_Test</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:32:51</td>   <td>414032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_Doctor3_Test(java.lang.String)[pri:12, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_Doctor3_Test</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:32:59</td>   <td>421712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_Doctor4_Test(java.lang.String)[pri:13, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_Doctor4_Test</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:33:28</td>   <td>451421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceMaster.Service_Save_Test(java.lang.String)[pri:14, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">Service_Save_Test</td> 
  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="dd6264">  <td>20/09/14 15:33:36</td>   <td>458635</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ServiceMaster.afterClass()[pri:0, instance:com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster@1a451d4d]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1395560419</td>   <td></td> </tr>
<tr bgcolor="7fd8ce">  <td>20/09/14 15:33:45</td>   <td>468551</td> <td title="&lt;&lt;Reports.AfterReports()[pri:0, instance:com.tatahealth.API.libraries.Reports@61862a7f]">&lt;&lt;AfterReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2134607032</td>   <td></td> </tr>
</table>
